body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url(images/1x/background\ waves.png) no-repeat center top;
    background-size: cover;
    color: #e7f5ee;
    }
